div {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.btn {
    padding: 20px;
    margin: 10px;
    color: #2e2024;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 1px 3px;
    transition: all 3s cubic-bezier(25, 8, 25, 1);
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
}
.btn-1 {
    background-image: linear-gradient(to right, #583843 0%, #f7e297 51%, #f14a82 100%);
}
.btn-1:hover { background-position:right center ;

}
.btn-2 {
    background-image: linear-gradient(to right, #4d5b9b 0%, #5b8d96 51%, #9e6175 100%);
}
.btn-2:hover { background-position:right center ;

}
.btn-3 {
    background-image: linear-gradient(to right, #49a89c 0%, #f7e297 51%, #d1adb9 100%);
}
.btn-3:hover { background-position:right center ;

}
.btn-4 {
    background-image: linear-gradient(to right, #585386 0%, #d1a91a 51%, #f14a82 100%);
}
.btn-4:hover { background-position:right center ;

}
.btn-5 {
    background-image: linear-gradient(to right, #c24671 0%, #a0905b 51%, #f14a82 100%);
}
.btn-5:hover { background-position:right center ;

}